{# src/Stsbl/JavaScriptLibraryBundle/Resources/views/Default/index.html.twig #}
{% extends 'IServCoreBundle::page.html.twig' %}
{% import 'StsblJavaScriptLibraryBundle::macros.html.twig' as jsm %}

{% block javascripts %}
    {{ parent() }}
    
    {{ jsm.StsblJavascriptLibraries() }}
{% endblock %}

{% block page_title %}
    StsblJavaScriptBundle
{% endblock %}

{% block content %}
    <h1>StsblJavaScriptBundle was installed successful!</h1>
{% endblock %}