debian/stsbl-iserv3-js-libs/*
debian/stsbl-iserv3-js-libs.debhelper.log
debian/stsbl-iserv3-js-libs.substvars
debian/files
debian/debhelper-build-stamp
.pc/*
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
/public/assets
/.php-cs-fixer.cache
