Source: stsbl-iserv3-js-libs
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv-buildtools
Standards-Version: 4.1.3
Homepage: https://it.stsbl.de

Package: stsbl-iserv3-js-libs
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
  stsbl-iserv3-maintenance,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: JavaScript-Bibliotheken für IServ 3
 Enthält JavaScript-Bibliotheken, die von verschiedenen Modulen der Stadtteilschule Blankenese für die IServ 3-Obberfläche benötigt werden.
Tag: suite::iserv:portal, role::shared-lib, implemented-in::php, implemented-in::js
