Source: stsbl-iserv3-js-libs
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de

Package: stsbl-iserv3-js-libs
Architecture: all
Depends: iserv-portal,
         stsbl-iserv3-maintenance,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: JavaScript-Bibliotheken für IServ 3
 Enthält JavaScript-Bibliotheken, die von verschiedenen Modulen der Stadtteilschule Blankenese für die IServ 3-Obberfläche benötigt werden.
Tag: suite::iserv:portal, role::shared-lib, implemented-in::php, implemented-in::js
